
.box100 {
  height: 100px;
  background:#68BCBC;
}
.box200 {
  height: 200px;
  background:#71AAD7;
}
.box300 {
  height: 300px;
  background:#EBB056;
}
header {
  width:300px;
  text-align:center;
  margin:0 auto;
}
article {
  max-width: 1000px;
  margin:0 auto;
  background:#eee;
}
section {
  width: 120px;
  margin: 5px;
  overflow: hidden;
}
footer {
  width:150px;
  text-align:center;
  margin:0 auto;
}
.box1 {
  width: 60px;
  height: 200px;
  border: 1px solid black;
}
.box2 {
  width: 60px;
  height: 160px;
  border: 1px solid black;
}
.box3 {
  width: 150px;
  height: 55px;
  border: 1px solid black;
}
.box4 {
  width: 150px;
  height: 44px;
  border: 1px solid black;
}
.box5 {
  width: 150px;
  height: 55px;
  border: 1px solid black;
}
.box6 {
  width: 150px;
  height: 55px;
  border: 1px solid black;
}