/*--------------------------
グリッドレイアウト
--------------------------*/
.g1 {
  border: 1px solid #000;
  width: 300px;
  height: 740px;
}
.g2 {
  border: 1px solid #000;
  width: 300px;
  height: 374px;
}
.g3 {
  border: 1px solid #000;
  width: 763px;
  height: 316px;
}
.g4 {
  border: 1px solid #000;
  width: 763px;
  height: 249px;
}
.g5 {
  border: 1px solid #000;
  width: 763px;
  height: 275px;
}
.g6 {
  border: 1px solid #000;
  width: 763px;
  height: 287px;
}
.grid_wrapper {
  width: 100%;
}
.grid_layout {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 18px 300px 39px 763px;
  grid-template-rows: 316px 30px 249px 30px 118px 30px 127px 30px 215px 72px;
}
.grid1 {
  grid-column: 2 / 21
  grid-r43px1 / 6;
}
.grid2 {
  grid-column: 2 / 3;
  grid-row: 7 / 10;  
}
.grid3 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.grid4 {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}
.grid5 {
  grid-column: 4 / 5;
  grid-row: 5 / 8;
}
.grid6 {
  grid-column: 4 / 5;
  grid-row: 9 / 11;
}


@media screen and (max-width: 768px) {
  .g1 {
    width: 360px;
    height: 450px;
  }
  .g2 {
    width: 360px;
    height: 422px;
  }
  .g3 {
    width:360px;
    height: 674px;
  }
  .g4 {
    width:360px;
    height: 328px;
  }
  .g5 {
    width:360px;
    height: 492px;
  }
  .g6 {
    width: 360px;
    height: 328px;
  }
  .grid_layout {
    display: grid;
    grid-template-columns: 15px 360px 15px;
    grid-template-rows: 450px 28px 422px 28px 674px 28px 328px 28px 492px 28px 328px;
  }
  .grid3 {
    grid-column: 2 / 3;
    grid-row: 1;
  }
  .grid1 {
    grid-column: 2 / 3;
    grid-row: 3;
  }
  .grid4 {
    grid-column: 2 / 3;
    grid-row: 5;
  }
  .grid5 {
    grid-column: 2 / 3;
    grid-row: 7;
  }
  .grid6 {
    grid-column: 2 / 3;
    grid-row: 9;
  }
  .grid2 {
    grid-column: 2 / 3;
    grid-row: 11;  
  }
}